uchrix_Monitoring FiFA World Cup 2026_v2_.json
{
  "name": "uchrix_Monitoring FiFA World Cup 2026_v2_",
  "nodes": [
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_iD",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -64
      ],
      "id": "918b87a3-5791-4c5b-b603-9dda42819070",
      "name": "Send Scores to Telegram",
      "webhookId": "605482a4-b3f2-484f-bc45-8569930e58c5",
      "credentials": {
        "telegramApi": {
          "id": "3m1ws5kX2yqDIJQn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4,15 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        -64
      ],
      "id": "3bb98061-6b79-4b99-91d2-49d1dc674a6d",
      "name": "4:30 AM & 3:30 PM Everyday4"
    },
    {
      "parameters": {
        "url": "https://api.football-data.org/v4/competitions/WC/matches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "INSERT_THE_APi_KEY_THEY_GAVE_YOU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        -64
      ],
      "id": "40665c7f-d992-4c21-94b0-830773b15a60",
      "name": "Fetch Live FIFA Data1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst matches = items[0]?.json?.matches || [];\n\nif (matches.length === 0) {\n  return [{ json: { no_games_found: true } }];\n}\n\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nconst tomorrow = new Date(now.getTime() + 24 * 60 * 60 * 1000);\n\nlet recentMatches = matches.filter(match => {\n  const matchDate = new Date(match.utcDate);\n  return matchDate >= yesterday && matchDate <= tomorrow;\n});\n\n// TESTING FALLBACK: If manual testing yields no games in active rolling time zone frame,\n// pull historical matches that have events logged so you don't receive an empty block\nif (recentMatches.length === 0) {\n  const loggedGames = matches.filter(m => m.status === 'FINISHED' || m.status === 'IN_PLAY' || m.status === 'PAUSED');\n  recentMatches = loggedGames.length > 0 ? loggedGames.slice(-2) : matches.slice(0, 2);\n}\n\nreturn recentMatches.map(m => ({ json: m }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -64
      ],
      "id": "0f823240-ff29-4bad-9cac-53c5d4568a6c",
      "name": "Rolling Window Filter1"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        208,
        -64
      ],
      "id": "0ee3b09e-533d-4cf7-8073-8f19a965a884",
      "name": "Process Match Iteration"
    },
    {
      "parameters": {
        "url": "=https://api.football-data.org/v4/matches/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "f7e6165e7c2546619840b510c4417cd7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        128
      ],
      "id": "7f4d215f-0890-406d-bd0f-5b0d265f4835",
      "name": "Fetch Detailed Match Items"
    },
    {
      "parameters": {
        "jsCode": "const match = $input.all()[0]?.json;\nif (!match || !match.homeTeam) return [];\n\nconst homeTeam = match.homeTeam.name || 'TBD';\nconst awayTeam = match.awayTeam.name || 'TBD';\n\nconst homeScore = match.score?.fullTime?.home !== null && match.score?.fullTime?.home !== undefined ? match.score.fullTime.home : '-';\nconst awayScore = match.score?.fullTime?.away !== null && match.score?.fullTime?.away !== undefined ? match.score.fullTime.away : '-';\nconst homeHT = match.score?.halfTime?.home !== null && match.score?.halfTime?.home !== undefined ? match.score.halfTime.home : '-';\nconst awayHT = match.score?.halfTime?.away !== null && match.score?.halfTime?.away !== undefined ? match.score.halfTime.away : '-';\n\nlet statusEmoji = '🏁 FT';\nif (match.status === 'LIVE' || match.status === 'IN_PLAY') statusEmoji = '🔴 LIVE';\nif (match.status === 'PAUSED') statusEmoji = '⏳ HT';\nif (match.status === 'TIMED' || match.status === 'SCHEDULED') statusEmoji = '📅 Scheduled';\n\nconst stage = match.stage ? `| ${match.stage.replace(/_/g, ' ')}` : '';\n\nlet message = `🏆 *FIFA World Cup Update*\\n\\n`;\nmessage += `⚽ *${homeTeam}*  ${homeScore} - ${awayScore}  *${awayTeam}*\\n`;\nmessage += `ℹ️ Status: ${statusEmoji} ${stage}\\n`;\n\nif (homeHT !== '-' || awayHT !== '-') {\n  message += `⏳ Half-Time Score: [ ${homeHT} - ${awayHT} ]\\n`;\n}\n\nlet milestones = [];\n\n// Extract detailed goals array populated on the singular match resource\nif (match.goals && match.goals.length > 0) {\n  match.goals.forEach(g => {\n    const min = g.minute ? `${g.minute}'` : '';\n    const extra = g.injuryTime ? `+${g.injuryTime}` : '';\n    const typeModifier = g.type === 'PENALTY' ? ' (Penalty)' : g.type === 'OWN_GOAL' ? ' (OG)' : '';\n    milestones.push(`🔸 Goal: ${g.scorer?.name || 'Unknown Player'} (${g.team?.name || ''}) ${min}${extra}${typeModifier}`);\n  });\n}\n\n// Highlight exceptional disciplinary events and cards tracking\nif (match.bookings && match.bookings.length > 0) {\n  match.bookings.forEach(b => {\n    if (b.card === 'RED' || b.card === 'YELLOW_RED') {\n      milestones.push(`🟥 Red Card: ${b.player?.name || 'Unknown Player'} (${b.team?.name || ''}) ${b.minute || ''}'`);\n    }\n  });\n}\n\nif (match.penalties && match.penalties.length > 0) {\n  match.penalties.forEach(p => {\n    if (!p.scored) {\n      milestones.push(`❌ Penalty Missed: ${p.player?.name || 'Unknown Player'} (${p.team?.name || ''}) ${p.minute || ''}'`);\n    }\n  });\n}\n\nif (milestones.length > 0) {\n  message += `\\n📝 *Match Events & Highlights:*\\n${milestones.join('\\n')}\\n`;\n} else if (['FINISHED', 'IN_PLAY', 'PAUSED'].includes(match.status)) {\n  message += `\\n📝 *Match Events:* No major events or goals logged yet.\\n`;\n}\n\nreturn [{ json: { message: message } }];"
      },
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        304
      ],
      "id": "17955f9d-bbb7-4ae2-8ed5-41a5f22333d6",
      "name": "Build Match Scoreboard1"
    }
  ],
  "pinData": {},
  "connections": {
    "4:30 AM & 3:30 PM Everyday4": {
      "main": [
        [
          {
            "node": "Fetch Live FIFA Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Live FIFA Data1": {
      "main": [
        [
          {
            "node": "Rolling Window Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rolling Window Filter1": {
      "main": [
        [
          {
            "node": "Process Match Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Match Iteration": {
      "main": [
        [
          {
            "node": "Fetch Detailed Match Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Detailed Match Items": {
      "main": [
        [
          {
            "node": "Build Match Scoreboard1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Match Scoreboard1": {
      "main": [
        [
          {
            "node": "Send Scores to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a43705ed-21b5-469d-84fa-5e5641d4249f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7162907718055dad0f545173c03a4c74ae0809c8a9077a8a214540c814ec0f23"
  },
  "id": "xwqgSwNZ96RRBXlJ",
  "tags": [
    {
      "updatedAt": "2026-07-04T20:38:20.848Z",
      "createdAt": "2026-07-04T20:38:20.848Z",
      "id": "G0DWcwHLjIiucOT5",
      "name": "monitoring"
    }
  ]
}