uchrix_chatbot_base_.json
{
  "name": "wf_chatbot_base",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "=webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        -16
      ],
      "id": "9d6b23e9-0b8d-44fa-b0c0-cd85e600afc0",
      "name": "When chat message received",
      "webhookId": "1a08a0a9-5706-4938-8dd9-1654e2487d77"
    },
    {
      "parameters": {
        "url": "https://www.YOUR_WEBSiTEDOTCOM/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        704,
        208
      ],
      "id": "52d967d8-f143-44bc-90c0-e8af8cfa398e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=INSERT YOUR TONE PERSONALiTY & TONE PROMPT",
          "maxIterations": 15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -16
      ],
      "id": "a8ece0ba-5333-463b-a59c-3543366c1004",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary;\nconst binaryKey = Object.keys(binaryData)[0];\nconst binaryItem = binaryData[binaryKey];\nconst base64String = binaryItem.data;\nconst faqContent = Buffer.from(base64String, 'base64').toString('utf-8');\nreturn [{ json: { faqContent } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -16
      ],
      "id": "cf3e0170-487a-428c-ae47-c4c5829a91ed",
      "name": "Extract FAQ Text"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "options": {
          "googleFileConversion": {}
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -16
      ],
      "id": "d7df4b74-022f-43c9-bb29-a8ed4987e5ab",
      "name": "Read FAQ from Google Doc"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "name",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        880,
        112
      ],
      "id": "a63c9568-6671-4772-948b-17a710b4b7f3",
      "name": "save_lead_to_database_stylesheet"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        256
      ],
      "id": "f27b15d6-5a31-414f-bd44-72129b1acf8a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "8beb2f66-55b9-48de-a8bd-06e2718662b5",
      "name": "Mistral Cloud Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read FAQ from Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract FAQ Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read FAQ from Google Doc": {
      "main": [
        [
          {
            "node": "Extract FAQ Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_lead_to_database_stylesheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3b8b168-893b-4ec5-9c2b-d874adf08b43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7162907718055dad0f545173c03a4c74ae0809c8a9077a8a214540c814ec0f23"
  },
  "id": "W2qEq2sh0bSAhG6j",
  "tags": [
    {
      "updatedAt": "2026-07-04T20:20:44.391Z",
      "createdAt": "2026-07-04T20:20:44.391Z",
      "id": "U60IlQDECzteqaoB",
      "name": "chatbot"
    }
  ]
}